.events-list-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 56vh;
    overflow-y: hidden;
    background-color: var(--lighter-blue);
    margin: 0 auto;
}