.event-details-form {
    display: flex;
    background-color: var(--gray-lightest);
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    padding: 5vh 2vw;
}

.event-details-header {
    display: flex;
    flex-direction: column;
}

.event-details-header textarea {
    margin: 5px auto;
    text-align: center;
    font-size: 30px;
    width: 60vw;
}

textarea:disabled {
    border: 0px;
    background-color: inherit;
}

.event-details-form input,
.event-details-form .top .deets > .alias,
.event-details-header textarea {
    background-color: whitesmoke;
    border: 1px solid rgba(35, 105, 211, 0.872);
    text-align: center;
}

.event-details-form input:disabled,
.event-details-form .top .deets > .alias:disabled,
.event-details-header textarea:disabled {
    border: 0;
    background-color: inherit;
}

.event-details-form .top {
    display: flex;
    width: 60vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.event-details-form .top .deets{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.event-details-form .bottom {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-numbers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}


.bottom-numbers input {
    text-align: center;
    height: 5vh;
    width: 40px;
    font-size: 24px;
}


.event-details-form .location {
    height: 5vh;
    margin: 4vh auto;
}

.event-details-form input[type='number'] {
    width: 50%;
}

div.alias {
    width: 30%;
    padding: 0;
}

.datetime {
    width: 50%;
}

.event-details-container input[name='alias']{ 
    font-size: 36px;
    width: 100%;
    text-align: center;
    display: inline-block;
    border: 0
}

.event-details-form input[name='eventDate'] {
    width: 60%;
    font-size: 20px;
}

.bottom-active {
    margin-top: 20px;
    background-color: var(--gray-dark);
    color: white;
    font-size: 16px;
    display: flex;
    width: 60%;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}

.bottom-active input {
    height: 16px;
    width: 16px;
}

.event-details-form input[type="date"]::-webkit-inner-spin-button,
.event-details-form input[type="date"]::-webkit-calendar-picker-indicator, .event-details-form input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.event-details-form input[type="number"]::-webkit-outer-spin-button,
.event-details-form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.event-details-container button {
    width: 60%;
    height: 50px;
    font-size: 20px;
}

input:disabled {
    color: black;
}