.event-details-form {
    display: flex;
    background-color: var(--gray-lightest);
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    padding: 5vh 2vw;
}

.event-details-header {
    display: flex;
    flex-direction: column;
}

.event-details-header textarea {
    margin: 5px auto;
    text-align: center;
    font-size: 30px;
    width: 60vw;
}

textarea:disabled {
    border: 0px;
    background-color: inherit;
}

.event-details-form input{
    background-color: none;
    border: 1px solid yellow;
    text-align: center;
}

.event-details-form input:disabled {
    border: 0;
    background-color: inherit;
}

.event-details-form .top {
    display: flex;
    width: 60vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.event-details-form .top .deets{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.event-details-form .bottom {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-numbers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: 1px solid black;
    height: 15vh;
}


.bottom-numbers input {
    text-align: center;
}
.event-details-form .location {
    height: 5vh;
    margin: 4vh auto;
}

.event-details-form input[type='number'] {
    width: 30%;
}

div.alias {
    width: 30%;
    padding: 0;
}

.datetime {
    width: 50%;
}

.event-details-container input[name='alias']{ 
    font-size: 36px;
    width: 100%;
    text-align: center;
    display: inline-block;
    border: 0
}

.event-details-form input[name='eventDate'] {
    width: 60%;
    font-size: 20px;
}

.event-details-form input[type="date"]::-webkit-inner-spin-button,
.event-details-form input[type="date"]::-webkit-calendar-picker-indicator, .event-details-form input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.event-details-container button {
    width: 60%;
    height: 50px;
    font-size: 20px;
}

input:disabled {
    color: black;
}