.form-container {
    background-color: var(--gray-dark);
    width: 90vw;
    margin: 0 auto;
    padding-top: 2rem;
    border: 2px solid black;
    box-shadow: 0px 0px 5px white;
}


.form-container form{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    margin: 0 auto;
}

.form-container input {
    margin-bottom: 2vh;
}