.chatbox-container {
    height: 80vh;
    width: 80vw;
    z-index: 500;
    display: flex;
    flex-direction: column;
}

.chatbox-container > h1 {
    color: gold;
    text-shadow: 0px 0px 10px green;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10vw;
    margin-left: auto;
    cursor: pointer;
    width: 10%;
    text-align: center;
}

.chatbox-messages {
    background: linear-gradient(#ffff, inherit);
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.chatbox-controls {
    height: 15%;
    width: 80%;    
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.chatbox-textarea{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.chatbox-textarea > textarea {
    height: 80%;
    width: 100%;
    resize: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}

button#chatbox-button {
    width: 25%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
    box-shadow: none;
}

#chatbox-button > svg { 
    color: gold;
    -webkit-filter: drop-shadow( 0px 0px 5px rgba(0, 241, 80, 0.7));
    filter: drop-shadow( 0px 0px 5px rgba(0, 241, 80, 0.7));
    height: 40px;
    width: 40px;
}