.events-page {
    height: 100%;
    max-height: max-content;
    overflow: hidden;
}

.user-profile-container {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    padding: 10vh 10vw 10vh 10vw;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-light);
    height: 25vh;
    border: 0px 0px 4px 0px solid var(--gray-light); 
}

.events-options-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000000;
    height: 10vh;
}

.events-options-container button {
    font-size: 24px;
    padding: 5px;
}

/* .events-wrapper {
    background-color: var(--lighter-blue);
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
} */
