.events-page {
    height: 100%;
    max-height: max-content;
    overflow-y: hidden;
}

.user-profile-container {
    display: flex;
    margin-top: 5vh;
    padding: 0px 20px 5vh 20px;
    align-items: center;
    justify-content: space-between;
    height: 26vh;
    border: 0px 0px 4px 0px solid var(--gray-light); 
}

.events-options-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--navy-blue);
    height: 6vh;
}

/* .events-wrapper {
    background-color: var(--lighter-blue);
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
} */
