nav {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
    font-family: Bangers;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}