.profile-box-container {
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    width: 7rem;
    padding-top: 20px;
    box-shadow: 0px 0px 10px var(--gray-light);
    background-color: white;
    height: 10rem;
}

.avatar-wrapper {
    border: 1px solid var(--gray-light);
    border-radius: 50%;
    width: 75%;
    height: 75%;
    margin: auto;
}