.profile-dashboard-container {
    width: 100%;
    height: 100%;
    background-color: white;
    height: 12rem;
    display: flex;
    align-items: center;
}

.profile-dashboard-container div{
    display: flex;
    align-items: center;
    height: 50%;
}

.profile-dashboard-container div:first-child{
    justify-content: space-evenly;
    width: 60%;
}

.profile-dashboard-container div:last-child{
    width: 100%;
    justify-content: space-evenly;
}

.profile-dashboard-container p, .profile-dashboard-container h1 {
    margin: 0;
}


.profile-avatar {
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    width: 9.5rem;
    padding-top: 20px;
    background-color: white;
    height: 100%;
    align-items: center;
}

.avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray-light);
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.profile-status {
    display: flex;
    flex-direction: column;
}