.new-event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    text-align: left;
    background: var(--gray-lightest);
    padding: 15px;
    border: 1px solid lightslategray
}

.new-event-form label {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.new-event-form input[type="number"]{
    width: 20%;
}

.new-event-form input[name="coverFee"]::before{
    content: "$";
}

.new-event-form input[name="title"], input[name="date"] {
    width: 60%;
}

.new-event-form input[name="alias"] {
    width: 20%;
}

.event-form-buttons, .join-event-form, .event-code-container {
    background: var(--gray-lightest);
    padding: 15px;
    border: 1px solid lightslategray;
    display: flex;
    flex-direction: column;
    height: 40vh;
    align-items: center;
    justify-content: space-evenly;
}

.event-code-container {
    width: 95%;
    margin: 0 auto;
}

.event-code-container input { 
    height: 3rem;
    width: 14rem;
    text-align: center;
    font-size: 1rem;    
}

.after-holder:focus-within::after {
    content: 'COPIED!';
}

.after-holder input:focus {
    border: 2px solid green;
}

.after-holder {
    height: 60px;
}

.event-form-buttons button, .join-event-form button, .new-event-form button{
    width: 60%;
    height: 50px;
    font-size: 20px;
}


.join-event-form input {
    font-size: 20px;
}