/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --navy-blue: #12489a;
  --main-blue: #0062f6;
  --light-blue: #5699fc;
  --lighter-blue: #98c0fc;
  --gray-lightest: #dfdfdf;
  --gray-light: #969698;
  --gray-dark: #606265;
  --money-green: #47a404;
}

*, *:before, *:after {
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}


.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}


.txt-align-left {
  text-align: left;
}

.txt-align-right {
  text-align: right;
}

button, button a, a {
  font-family: Bangers;
  letter-spacing: 3px;
}

.bangers-title {
  font-family: bangers;
  text-shadow: 0px 1px 10px black;
  color: white;
  letter-spacing: 5px;
}